<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        body{
            margin: 0;
            background-color: #f2f2f2;
            font-family: arial;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar{
            padding: 20px;
            margin-bottom: 2rem;
            display: flex;
            background-color: rgb(64, 184, 144);
            width: 100%;
            box-sizing: border-box;
        }
        .navbar a{
            color: white;
            margin-left: 1rem;
            margin-right: 1rem;
            text-decoration: none;
            transition: color 0.3s;
        }
        .navbar a:hover{
            color: rgb(210, 204, 204);
        }
        .titulo{
            font-size: 2.5rem;
            margin: 0;
        }
        .listado{
            list-style: none;
            font-size: 1rem;
            margin: 0;
        }
        .objetoLista{
            margin-bottom: .5rem;
            padding: 10px;
            background-color: aquamarine;
            border-radius: 10px;
        }
        .productCard{
            width: 600px;
            margin: 5rem;
            background-color: aquamarine;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
        }
        .productCard h1{
            font-size: 3rem;
            margin: 0;
        }
        .productCard p{
            font-size: 18px;
        }
        .datosProducto{
            display: flex;
        }
        .datosProducto h3{
            padding: 5px;
        }
        .botonCarrito{
            background-color: rgb(35, 34, 34);
            color: white;
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
        }
        .botonCarrito:hover{
            background-color:rgb(65, 64, 64);
        }
        .botonHome{
            background-color: rgb(11, 142, 98);
            padding: 10px;
            border: 1px solid black;
            font-size: 2rem;
            color: black;
            text-decoration: none;
        }
        .botonHome:hover{
            background-color: rgb(64, 184, 144);
        }
        .movimientoPag{
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
        }
        .form-container {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(64, 184, 144);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: auto;
        }
        .tituloRegistro{
            font-size: 2rem;
            margin: 1rem;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 250px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background: rgb(255, 165, 0);
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background: rgb(213, 151, 36)
        }
        .noCuenta{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .6rem;
        }
        .noCuenta h3{
            margin-right: .5rem;
        }
     </style>
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
    {{{body}}}
</body>
</html>